### Gradle
.gradle
**/build/
!src/**/build/
!gradle-wrapper.jar
.gradletasknamecache

### JetBrains
.idea
*.iml
*.iws
out/
.idea_modules/

### Kotlin
*.class
*.log
*.jar
*.war
*.zip
*.tar.gz
*.rar
*.log

